"*":
  "exception-reporting":
    userId: "01cb65d0-9fde-8166-a9cf-b48bc4718039"
  welcome:
    showOnStartup: false
  core:
    packagesWithKeymapsDisabled: []
    disabledPackages: [
      "vim-mode"
    ]
  editor:
    invisibles: {}
  "atom-beautify": {}
  react: {}
  "vim-mode": {}
