# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
  user = Prasanth Koduru
	email = koduruprasanth@gmail.com
	pager = less -FMRiX
[user]
	email = prasantk@amazon.com
	name = Koduru
[color]
	ui = auto
[push]
	default = simple
[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
